* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  margin: 20px 0;
}

.Export-render {
  padding: 40px 20px;
}

.Export-render__header {
  text-align: center;
}

.Expoer-render__title {
  color: #da5a47;
}

.Export-render .Section {
  font-size: 14px;
}

.Export-render .Section__header {
  color: #da5a47;
  border-color: #da5a47;
  font-size: 18px;
}

.Export-render .Section__mono {
  margin-top: 14px;
}

.Export-render .Section__paragraph ul {
  margin: 10px 0 0 20px;
}

.Export-render .Section__paragraph ul li {
  margin: 5px 0;
}
