{% extends '_layouts/cp' %}
{% includeCssResource "/auditr/css/style.css" %}
{% includeJsResource "/auditr/js/index.js" %}

{% set title = "Auditr" %}

{% set tabs = {
    info: { label: 'Info'|t, url: url('auditr') },
    templates: { label: 'Templates'|t, url: url('auditr/templates') },
    content: { label: 'Content'|t, url: url('auditr/content') },
    plugins: { label: 'Plugins'|t, url: url('auditr/plugins') },
    users: { label: 'Users'|t, url: url('auditr/users') },
    updates: { label: 'Updates'|t, url: url('auditr/updates') },
    pageSpeed: { label: 'Page Speed'|t, url: url('auditr/pageSpeed') }
} %}

{% set selectedTab = 'pageSpeed' %}

{% set content %}
{% set settings = craft.auditr.getSettings() %}
<div class="Section" >
  <h3 class="Section__header">Google Insights</h3>
  <p data-insights data-key="{{ settings.googleApiKey }}" data-url="{{ settings.siteUrl ?: siteUrl }}">
    {% if settings.googleApiKey %}
      Loading...
    {% else %}
      Enter your Google API key to use this feature
    {% endif %}
  </p>
</div>
{% endset %}
